<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- /bootstrap style -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /fontawesome -->

    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- /my style -->

    <title>Boolzapp</title>
</head>

<body>

    <div id="app">
        <main id="app_main" class="container">
            <div class="row">

                <section class="col-4 sidebar p-0">
                    <div class="side_top d-flex justify-content-between px-1 my_text_textcolor">
                        <div class="align-self-center d-flex">
                            <img class="img-fluid rounded-circle ms-1" width="40" :src="me.avatar" alt="">
                            <h6 class="align-self-center my-0 ms-1">{{me.name}}</h6>
                        </div>
                        <div class="d-flex gap-3 align-self-center my_text_icon me-2">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /side_top -->

                    <div class="side_bottom d-flex flex-column">
                        <div class="notifications d-flex px-3 py-2">
                            <i class="fa-solid fa-bell-slash align-self-center bg-light rounded-circle p-2 me-3"></i>
                            <div class="notifications_info d-flex flex-column justify-content-center">
                                <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                                <a href="#">Attiva notifiche da desktop</a>
                            </div>
                        </div>
                        <!-- /notifications -->

                        <div class="contacts_search p-1 input-group">
                            <span class="input-group-text my_bg_light border-0" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass my_text_icon"></i>
                            </span>
                            <input type="search" class="form-control border-0"
                                placeholder="Cerca o Inizia una nuova chat" aria-label="Search"
                                aria-describedby="basic-addon1" v-model="searchContact">
                        </div>
                        <!-- /contact_search -->

                        <div class="contacts_list">
                            <div class="contact_friend" v-for="(contact, index) in contacts"
                                @click="setActiveContact(index)">
                                <div v-if="searchContact == '' "
                                    class="d-flex p-3 border-bottom border-top">
                                    <img class="rounded-circle ms-1 me-2" width="40" :src="contact.avatar" alt="">
                                    <div class="contacts_info d-flex flex-column">
                                        <h6 class="m-0">{{contact.name}}</h6>
                                        <span>Ultimo messaggio inviato</span>
                                        <span class="hour">12:00</span>
                                    </div>
                                </div>
                                <div v-else-if="searchContact.toLowerCase().charAt().includes(contact.name.toLowerCase().charAt())"
                                    class="d-flex p-3 border-bottom border-top">
                                    <img class="rounded-circle ms-1 me-2" width="40" :src="contact.avatar" alt="">
                                    <div class="contacts_info d-flex flex-column">
                                        <h6 class="m-0">{{contact.name}}</h6>
                                        <span>Ultimo messaggio inviato</span>
                                        <span class="hour">12:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /contacts -->

                    </div>
                    <!-- /side_bottom -->

                </section>
                <!-- /sidebar -->

                <section class="col-8 message p-0">

                    <div class="message_top  d-flex justify-content-between px-1 my_text_textcolor">
                        <div class="align-self-center d-flex">
                            <img class="img-fluid rounded-circle ms-1" width="40" :src="contacts[activeContact].avatar"
                                alt="">
                            <div>
                                <h6 class="align-self-center my-0 ms-1">{{contacts[activeContact].name}}</h6>
                                <span class="acces">ultimo accesso oggi alle 12:00</span>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-self-center my_text_icon me-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /message top -->

                    <div class="message_main py-3">
                        <div class="container px-5">
                            <div v-for="property in contacts[activeContact].messages"
                                :class="property.status == 'sent' ? 'text_sent' : 'text_received'">
                                <p>{{property.message}}</p>
                                <span>{{property.date}}</span>
                            </div>
                            <!-- /text send and riceived -->
                        </div>
                    </div>
                    <!-- /message main -->

                    <div class="message_bottom container-fluid d-flex my_text_icon_message p-0">
                        <i class="fa-regular fa-face-smile align-self-center px-4"></i>
                        <input class="form-control border-0 my-1" type="text" placeholder="Scrivi un messaggio"
                            aria-label="text" v-model="newMessage" @keyup.enter="submitMessage(activeContact)">
                        <i class="fa-solid fa-microphone align-self-center  px-4"></i>
                    </div>
                    <!-- /message bottom -->

                </section>
                <!-- /message -->

            </div>
            <!-- /row -->

        </main>
        <!-- /app_main -->

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!-- /bootstrap script -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /VueJs script -->

    <script src="./assets/js/app.js"></script>
    <!-- /my script -->

</body>

</html>