/* #region commons */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img
{
    max-width: 100%;
} */

body
{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, #009688, #dadbd3);
    padding-top: 2rem;
}

.acces
{
    font-size: 0.75rem;
    color: var(--my-icon);
}

/* #endregion commons */

/* #region utilities */
:root{
    --my-backtop: #009688;
    --my-backbottom: #dadbd3;
    --my-header: #eaeaea;
    --my-notifications: #8edafc;
    --my-light: #ffffff;
    --my-icon: #b1b1b1;
    --my-icon_message: #6b7376;
    --my-messagebar: #f3eeea;
    --my-textcolor: #03071a;
    --my-message_send: #ffffff;
    --my-message_received: #d5f9ba;
}

.my_text_textcolor
{
    color: var(--my-textcolor);
}

.my_text_icon
{
    color: var(--my-icon);
}

.my_text_icon_message
{
    color: var(--my-icon_message);
}
/* #endregion utilities */


/* #region debug */


/* #endregion debug */

/* #region main */

main.container
{
    width: 80%;
    background-color: red;
}

/* #region section sidebar */

.sidebar
{
    height: 100%;
    border-right: 1px solid var(--my-icon);
}

.side_top
{
    height: 3rem;
    background-color: var(--my-header);
}

.side_bottom
{
    height: calc(100% - 3rem);
}

/* #endregion section sidebar */

/* #region section message */

.message_top
{
    height: 3rem;
    background-color: var(--my-header);
}

.message_main
{
    height: calc(45rem);
    background-image: url('/assets/img/mine.jpg');
}

.text_send
{
    background-color: var(--my-message_send);
    color: var(--my-textcolor);
}

.text_received
{
    background-color: var(--my-message_received);
    color: var(--my-textcolor);
}

.message_bottom
{
    height: 3rem;
    background-color: var(--my-messagebar);
}

/* #endregion section message */


/* #endregion main */