/* #region commons */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(0deg, #dadbd3 90%, #009688 10%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding-top: 2rem;
}

.acces
{
    font-size: 0.75rem;
    color: var(--my-icon);
}

/* #endregion commons */

/* #region utilities */
:root{
    --my-backtop: #009688;
    --my-backbottom: #dadbd3;
    --my-header: #eaeaea;
    --my-notifications: #8edafc;
    --my-light: #ffffff;
    --my-icon: #b1b1b1;
    --my-icon_message: #6b7376;
    --my-messagebar: #f3eeea;
    --my-textcolor: #03071a;
    --my-message_received: #ffffff;
    --my-message_send: #d5f9ba;
}

.my_text_textcolor
{
    color: var(--my-textcolor);
}

.my_text_icon
{
    color: var(--my-icon);
}

.my_text_icon_message
{
    color: var(--my-icon_message);
}

.my_bg_light
{
    background-color: var(--my-light);
}
/* #endregion utilities */

/* #region main */

#app
{
    height: 100vh;
}

#app_main
{
    width: 80%;
}

/* #region section sidebar */

.sidebar
{
    height: 50rem;
    border-right: 1px solid var(--my-icon);
    background-color: var(--my-light);
}

/* #region side_top */

.side_top
{
    height: 3rem;
    background-color: var(--my-header);
}

/* #endregion side_top */

/* #region side_bottom */
.side_bottom
{
    height: 100% - 3rem;
}

.side_bottom .notifications
{
    height: 3rem;
    background-color: var(--my-notifications);
}

.notifications i
{
    color: var(--my-notifications);
}

.notifications_info p
{
    font-size: 0.9rem;
}


.notifications_info a
{
    color: var(--my-icon_message);
    font-size: 0.7rem;
}

.contacts_search
{
    height: 3rem;
    background-color: var(--my-header);
}

.contacts_list
{
    height: calc(100% - 9rem);
    overflow-y: auto;
    background-color: var(--my-light);
}

.contact_friend
{
    border: var(--my-icon);
    position: relative;
}

.contact_friend:hover
{
    background-color: var(--my-header);
    cursor: pointer;
}

.contacts_info h6
{
    font-size: 1rem;
}


.contacts_info span
{
    color: var(--my-icon_message);
    font-size: 0.7rem;
}

.contact_friend .hour
{
    position: absolute;
    top: 10px;
    right: 10px;
}
/* #endregion side_bottom */

/* #endregion section sidebar */

/* #region section message */

.message
{
    height: 50rem;
    background-color: var(--my-light);
}

.message_top
{
    height: 3rem;
    background-color: var(--my-header);
}

.message_main
{
    height: calc(100% - 6rem);
    background-image: url('/assets/img/mine.jpg');
    overflow-y: auto;
}

.text_sent, .text_received
{
    margin-bottom: 0.7rem;
    border-radius: 1rem;
    padding: 0.7rem;
    position: relative;
}

.text_sent
{
    background-color: var(--my-message_send);
    color: var(--my-textcolor);
    margin-left: 60%;
}

.text_received
{
    background-color: var(--my-message_received);
    color: var(--my-textcolor);
    margin-right: 60%;
}

.text_sent > p, .text_received > p{
    font-size: 0.8rem;
}

.text_sent > span, .text_received > span{
    color: var(--my-icon);
    font-size: 0.5rem;
    position: absolute;
    bottom: 5px;
    right: 1rem;
}

.message_bottom
{
    height: 3rem;
    background-color: var(--my-messagebar);
}

/* #endregion section message */


/* #endregion main */